<div class="col-lg-6 mx-lg-auto bg-danger d-flex flex-column justify-content-center align-items-center px-2" style="height: 100vh;">
  <div class="card shadow w-100">
    <div class="card-header">
      <h2 class="text-center display-5 fw-bold p-2 m-0">Resend confirmation instructions</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
      
        <div class="form-group mb-2">
          <%= f.label :email, class: "mb-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control form-control-md mb-2" %>
        </div>
      
        <div class="actions">
          <%= f.submit "Resend confirmation instructions", class: "btn btn-danger btn-lg mb-2 mt-2 w-100" %>
        </div>
      <% end %>
      
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
