<%= render "shared/nav" %>

<div 
  class="user-container d-flex flex-column align-items-center" 
  style="margin-top:4em;"
>
  <div 
    class="header rounded-4 bg-white mb-3" 
    style="box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); width: 97%;"
  >
    <div class="profile-pic d-flex flex-column justify-content-start mr-4">
      <img src=<%= @user.photo %> alt="profile-picture" class="avatar rounded" />
    </div>
    <div class="right d-flex flex-column justify-content-around ms-4" style="width: 50%">
      <h1 class="display-1 text-danger" style="font-weight: bold;"><%= @user.name %></h1>
       <% if @user.posts_counter == nil %>
          <% @user.posts_counter = 0 %>
        <% end %>
      <h1 class="display-5 m-0 fw-bold">Posts: <%= @user.posts_counter %></h1>
    </div>
  </div>
  <div 
    class="bio shadow mb-2 rounded-4 bg-white mb-3"
    style="box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); width: 97%"
  >
    <h1 style="font-weight: bold;">About</h1>
    <p><%= @user.bio %></p>
  </div>

  <% if @user.posts.length > 0 %>
    <div class="recent-post-cont shadow mb-2 rounded-4 bg-white" style="min-height: 35vh;  width: 97%">
      <h1 class="mb-4" style="font-weight: bold;">Recent posts</h1>
        <% @user.most_recent_posts.each do |post| %>
          <%= link_to user_post_path(@user.id, post.id), {:style=>'color:black; text-decoration: none;'} do %>
            <div 
              class="recent-post rounded mb-2"
              style="box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);"
            >
              <h5 class="m-0" style="font-weight: bold font-size: 1em;"><%= post.title %></h5>
              <code><%= post.created_at %></code>
              <p class="user m-0"><%= post.text.truncate(60) %></p>

              <div class="d-flex justify-content-end mt-2" style="font-size: 0.85em">
                  <% if post.comments_counter == nil %>
                     <% post.comments_counter = 0 %>
                  <% end %>
                <p class="px-2 m-0" style="font-weight: bold;">Comments: <%= post.comments_counter %></p>
                  <% if post.likes_counter == nil %>
                     <% post.likes_counter = 0 %>
                  <% end %>
                <p class="px-2 m-0" style="font-weight: bold;">Likes: <%= post.likes_counter %></p>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  <div class="home-btn-container">  
        <%= button_to user_posts_path(@user.id), 
          class: "home-btn btn btn-danger d-flex justify-content-center align-items-center", 
          method: :get do%>
          <h2 class="m-0 px-2">All your posts</h2>
          <i class="fa-sharp fa-solid fa-magnifying-glass px-1"></i>
        <% end %>
    <% else %>
      <div class="p-4 m-1 shadow rounded-4 bg-white d-flex justify-content-center align-items-center" style="min-height: 36vh; width: 96%;">
        <h1 class="fs-1 fst-italic text-center text-secondary pt-4">No posts from this user yet 😿</h1>
      </div>
    <% end %> 
    <% if current_user.id == @user.id %>
        <%= button_to new_user_post_path(@user.id), 
        class: "home-btn btn btn-danger d-flex justify-content-center align-items-center", 
        method: :get do%>
          <h2 class="m-0 px-2">Create a new post</h2>
          <i class="fa-sharp fa-solid fa-plus px-1"></i>
        <% end %>
    <% end %>
  <div>
</div>
