<%= render "shared/nav" %>

<div class="users-container" style="margin-top: 3.75em;">
  <ul 
    class="p-0 pt-2"
  >
    <% @users.order(posts_counter: :desc).each do |user|%>
      <%= link_to user_path(user.id), {:style=>'color:black; text-decoration: none;'} do %>
        <li 
          class="avatar-card list-unstyled mb-2 p-4 border border-1 border-danger shadow rounded-2"
        >
          <div class="profile-pic d-flex flex-column justify-content-center mr-4">
            <img src=<%= user.photo %> alt="profile-picture" class="avatar rounded"/>
          </div>
          <div class="user-data d-flex flex-column justify-content-between" style="width: 50%;">
            <h1 class="m-0 mb-2 text-danger fw-bold"><%= user.name %></h1>
            <p class="m-0 mb-2"><%= user.bio %></p>
              <% if user.posts_counter == nil %>
                <% user.posts_counter = 0 %>
              <% end %>
            <h4 class="m-0 text-danger">Posts: <%= user.posts_counter %></h4>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
