<div
  id="change-pass"
  class="col-lg-6 d-flex flex-column justify-content-center align-items-center px-3 w-100" 
  style="height: 100vh;"
>
  <div class="card shadow">
    <div class="card-header">
        <h2 class="text-center display-5 fw-bold p-2">Change your password</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
        <div class="form-group">
          <%= f.label :password, "New password", class: "mb-2" %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control form-control-md mb-3" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation, "Confirm new password", class: "mb-2" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-md mb-3" %>
        </div>
        <div class="actions">
          <%= f.submit "Change my password", class: "btn btn-danger btn-lg mb-3 w-100" %>
        </div>
      <% end %>    
    </div>
  </div>
</div>

