<%= render 'shared/nav' %>

<div class="d-flex flex-column justify-content-center align-items-center">
<ul 
    class="p-3 border border rounded-4 bg-white d-flex flex-column justify-content-start align-items-center"
    style="box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); width: 95%; margin-top: 4em; min-height: 50%;"
  >
    <h1 class="display-2 pb-1">All Posts</h1>
    <% @all_posts.each do |post|%>
        <li 
          class="post-card p-4 border border-2 border-danger rounded shadow;" 
          style="list-style: none; box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15); width: 99%; margin-bottom: 1em;"
        >
          <h4><%= post.title %></h4>
          <p class="m-0"><%= post.text.truncate(60) %></p>
          <p class="m-0 fw-bold">By <%=post.user.name %></p>
          <div class="d-flex justify-content-end">
              <% if post.comments_counter == nil %>
              <% post.comments_counter = 0 %>
              <% end %>
            <p class="px-2 m-0 text-danger" style="font-weight: bold;">Comments: <%= post.comments_counter %></p>
              <% if post.likes_counter == nil %>
              <% post.likes_counter = 0 %>
              <% end %>
            <p class="px-2 m-0 text-danger" style="font-weight: bold;">Likes: <%= post.likes_counter %></p>
          </div>
        </li>
    <% end %> 
      
  </ul>
</div>