<%= render "shared/nav" %>
<div 
  class="d-flex flex-column align-items-center"
>
  <div 
    class="d-flex flex-column justify-content-around p-4 border border-3 border-danger rounded bg-white"
    style="margin-top: 4.5em; width: 95%; box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2); max-height: 350px;"
  >
    <div class="d-flex justify-content-between align-items-center">
      <img src=<%= @user.photo %> alt="profile-picture" class="rounded" style="width: 80px; heigth: auto; flex: 1;"/>
      <h2 style="flex: 2; padding-left: 0.5em; margin: 0%;"><%= @post.title %></h2>
    </div> 
    <p class="m-0 mt-2 mb-2" style="font-size: 1.1em"><%= @post.text %></p>
        <div class="d-flex justify-content-end">
            <% if @post.comments_counter == nil %>
              <% @post.comments_counter = 0 %>
            <% end %>
          <p class="px-2 m-0 text-danger" style="font-weight: bold;">Comments: <%= @post.comments_counter %></p>
            <% if @post.likes_counter == nil %>
              <% @post.likes_counter = 0 %>
            <% end %>
          <p class="px-2 m-0 text-danger" style="font-weight: bold;">Likes: <%= @post.likes_counter %></p>
        </div>
    <% if can? :delete, @post %>
      <%= button_to "Delete Post", user_post_path, method: :delete, data: {turbo: false}, class: "btn btn-danger w-100 mt-3" %>
    <% end %>
  </div>
  
  <div 
    class="d-flex flex-column align-items-end px-4 py-2" 
    style="min-height: 45vh; width: 100%"
  > 
    <% if @post.comments.length > 0 %>
      <% @post.comments.order(created_at: :desc).each do |comment| %>

        <div 
          class="d-flex w-100 mb-2 rounded py-4 px-3 bg-white border border-1 border-light justify-content-between"
          style="list-style: none; box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.2);"
        >
          <div class="d-flex flex-column">
            <strong class="display-6 fw-bold"><%= User.find(comment.user_id).name %></strong>
            <code><%= comment.created_at %></code>
            <p class="m-0"><%= comment.text %></p>
          </div>
          <div>
            <% if ((can? :delete, @post) || (comment.user_id == current_user.id)) %>
                
                <%= link_to user_post_comment_path(@user.id, @post.id, comment.id), class: "text-decoration-none text-reset" do %>
                  <button class="btn border border-2 border-danger text-danger fw-bold">X</button>
                <% end %>
                
                                  <%
=begin%>
 <%= button_to "X", user_post_comment_path(@post.user_id, @post.id, comment.id), 
                    method: :delete, data: {turbo: false}, 
                    class: "btn btn-danger w-100",
                    style: "padding-left: 0.75em; padding-right: 0.75em;" 
                  %>  
<%
=end%>


            <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
    <div 
      class="text-center d-flex justify-content-around flex-column align-items-center"
      style="height: 400px; width: 100%;"  
    >
      <h1 class="fs-1 fst-italic text-center text-secondary pt-4" style="margin-top: 2em;">No comments in this post, add one! ✍️</h1>
    </div>
    <% end %>
  </div>
     <div class="w-100 p-2">
      <%= button_to new_user_post_comment_path(@user.id, @post.id), 
        class: "shadow btn btn-danger p-3 fs-5 fw-bold", 
        style: "width: 100%;", method: :get do %>
        Add a comment
        <i class="fa-regular fa-comments px-1 "></i>
      <% end %>
    <div>
</div>